footer {
    background: #cacbcc;
    color: #fff;
    font-size: 13px;
    letter-spacing: .05em;
    margin-top: 80px;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 60px;
    padding-left: 0px;
}
