.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    letter-spacing: 1px;
    background: none;
}

.jumbotron {
    background-image: url("../img/background-00.png");
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

footer {
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 80px;
}
