.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 1px;
    background: none;
}

.jumbotron {
    background: #282828 url("../img/fontainebleu.jpg") no-repeat center center;
    background-size: cover;
    height: 1000px;
    color: #ffffff;
    background-attachment: fixed;
}

.me {
    width: 60%;
    height: 60%;
    /*filter: grayscale(90%);
    -webkit-filter: grayscale(90%);
    -moz-filter: grayscale(90%);
    -o-filter: grayscale(90%); */
    margin: 10px;
}


footer {
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 80px;
}
